{% extends 'base.html' %}
{% load static %}

{% load static %}
{% block content %}

<div class="container">
        <div class="col-md-auto">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label >Title of post</label>
                    {{form.title}}

                </div>

                <div class="row justify-content-md-center">
                    <div class="col">
                        <label >Select photo for post</label>
                    </div>
                    <div class="col">
                        {{form.photo}}
                    </div>
                </div>

                <div class="row justify-content-md-center">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Body of your post</label>
                        {{form.body}}
                    </div>
                </div>
                {{form.status}}
                <div class="row justify-content-md-center">
                    <div class="row justify-content-md-center">
                        <p><input type="submit" class="site-btn" value="Save changes"></p>
                    </div>
                </div>
                {% csrf_token %}
            </form>
            <!-- end profile-content -->
        </div>
</div>

{% endblock %}
