{% extends 'base.html' %}
{%load static%}
{% block content %}


<h1>{{ post.title }}</h1>
{% with total_likes=post.users_like.count users_like=post.users_like.all %}
<div class="image-info">
    <div>
        <span class="count">
            <span class="total">{{ total_likes }}</span>
            like{{ total_likes|pluralize }}
        </span>
        <a href="" data-id="{{ post.id }}" data-action="{% if request.user in users_like %}un{% endif %}like"
           class="like button">
            {% if request.user not in users_like %}
            Like
            {% else %}
            Unlike
            {% endif %}
        </a>
    </div>
</div>
{% endwith %}


<p class="date">
    Published {{ post.publish }} by {{ post.author }}
</p>

{% if post.photo%}
<img src={{post.photo.url}} alt="">
{% endif %}
{{ post.body|linebreaks }}

<!-- Section to display total number of comments  -->
{% with comments.count as total_comments %}
<h2>
    {{ total_comments }} comment{{ total_comments|pluralize }}
</h2>
{% endwith %}
<!-- end section-->
<!-- Section to display all comments under the post or none if post has no comments yet -->
{% for comment in comments %}
<div class="comment">
    <p class="info">
        Comment {{ forloop.counter }} by <a href={{comment.user.get_absolute_url}}>{{ comment.user.username }}</a>
        {{ comment.created }}
    </p>
    {{ comment.body|linebreaks }}
</div>
{% empty %}
<p>There are no comments yet.</p>
{% endfor %}
<!-- end section -->
<!-- Section to display the form to create a new comment -->
{% if new_comment %}
<h2>Your comment has been added.</h2>
{% else %}
<h2>Add a new comment</h2>
<form method="post">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Add comment"></p>
</form>
{% endif %}
<!-- end section -->
{% endblock %}

{% block domready  %}
$('a.like').click(function(e){
e.preventDefault();
$.post('{% url "Blog:like" %}',
{
id: $(this).data('id'),
action: $(this).data('action')
},
function(data){
if (data['status'] == 'ok')
{
var previous_action = $('a.like').data('action');
// toggle data-action
$('a.like').data('action', previous_action == 'like' ?
'unlike' : 'like');
// toggle link text
$('a.like').text(previous_action == 'like' ? 'Unlike' :
'Like');
// update total likes
var previous_likes = parseInt($('span.count .total').
text());
$('span.count .total').text(previous_action == 'like' ?
previous_likes + 1 : previous_likes - 1);
}
}
);
});
{% endblock %}
