{%extends 'base.html'%}
{% load static %}
{%block content%}

<form  method="GET">
    <div class="container" style="padding-bottom:35%">
        <div class="row justify-content-lg-center">
            <h1>User search </h1>
        </div>
        <div class="row justify-content-lg-center">
            <h6>Enter users username to find their profile </h6>
        </div>
            <div class="row justify-content-lg-center">
                <div class="col col-lg-8 align-items-center">
                        {% csrf_token %}
                        {{profileSearchForm.user}}
                </div>
                <div class="col col-sm-auto mb-4 ml-4">
                    <button class="btn btn-light" type="submit" name="button">Search</button>
                </div>
            </div> 
    </div>
</form>

<style>
    div.nice-select {
    display:none;
    }
</style>

{%endblock%}

{% block domready %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ profileSearchForm.media }}
{% endblock %}