{% load static %}

{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="content" class="content content-full-width">
                <!-- begin profile -->
                <div class="profile">
                    <div class="profile-header">
                        <!-- BEGIN profile-header-cover -->
                        <div class="profile-header-cover"></div>
                        <!-- END profile-header-cover -->
                        <!-- BEGIN profile-header-content -->
                        <div class="profile-header-content">
                            <!-- BEGIN profile-header-img -->
                            <div class="profile-header-img">
                                {% if request.user.profile.photo%}
                                <img src={{request.user.profile.photo.url}} alt="">
                                {% else %}
                                <img src="{% static 'img/blog/default_profile.jpg' %}" alt="">
                                {% endif %}
                            </div>
                            <!-- END profile-header-img -->
                            {% with total_followers=request.user.followers.count %}
                            <span class="count">
                                <span class="total">{{ total_followers }}</span>
                                follower{{ total_followers|pluralize }}
                            </span>
                            {% endwith %}
                            <!-- BEGIN profile-header-info -->
                            <div class="profile-header-info">
                                <h4 class="m-t-10 m-b-5">{{request.user.first_name}}</h4>
                                <h4 class="m-t-10 m-b-5">{{request.user.username}}</h4>
                                <p class="m-b-10">{{request.user.profile.bio}}</p>
                            </div>
                            <!-- END profile-header-info -->
                        </div>
                        <!-- END profile-header-content -->
                        <!-- BEGIN profile-header-tab -->
                        <ul class="profile-header-tab nav nav-tabs">
                            <li class="nav-item"><a href="/RecipeSearcher/{{request.user.username}}/" class="nav-link active show">POSTS</a></li>
                            <li class="nav-item"><a href="/RecipeSearcher/{{request.user.username}}/followers" class="nav-link">FRIENDS</a></li>
                        </ul>
                        <!-- END profile-header-tab -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end profile -->
{% endblock %}