{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="content" class="content content-full-width">
                <!-- begin profile -->
                <div class="profile">
                    <div class="profile-header">
                        <!-- BEGIN profile-header-cover -->
                        <div class="profile-header-cover"></div>
                        <!-- END profile-header-cover -->
                        <!-- BEGIN profile-header-content -->
                        <div class="profile-header-content">
                            <!-- BEGIN profile-header-img -->
                            <div class="profile-header-img">
                                {% if user.profile.photo%}
                                <img src={{user.profile.photo.url}} alt="">
                                {% else %}
                                <img src="{% static 'img/blog/default_profile.jpg' %}" alt="">
                                {% endif %}
                            </div>
                            <!-- END profile-header-img -->
                            <!-- BEGIN profile-header-info -->
                            <div class="profile-header-info">
                                <h4 class="m-t-10 m-b-5">{{user.first_name}}</h4>
                                <h3 class="m-t-10 m-b-5">{{user.username}}</h3>
                                <p class="m-b-10">{{user.profile.bio}}</p>
                                {% if request.user.username == user.username %}
                                <a href="/RecipeSearcher/edit" class="btn btn-sm btn-info mb-2">Edit Profile</a>
                                {% else  %}
                                {% with total_followers=user.followers.count %}
                                <span class="count">
                                    <span class="total">{{ total_followers }}</span>
                                    follower{{ total_followers|pluralize }}
                                </span>
                                <a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow button">
                                    {% if request.user not in user.followers.all %}
                                    Follow
                                    {% else %}
                                    Unfollow
                                    {% endif %}
                                </a>
                                {% endwith %}
                                {% endif %}
                            </div>
                            <!-- END profile-header-info -->
                        </div>
                        <!-- END profile-header-content -->
                        <!-- BEGIN profile-header-tab -->
                        <ul class="profile-header-tab nav nav-tabs">
                            <li class="nav-item"><a href="/RecipeSearcher/{{user.username}}" class="nav-link">POSTS</a></li>
                            <li class="nav-item"><a href="/RecipeSearcher/{{user.username}}/followers" class="nav-link">Followers</a></li>
                            <li class="nav-item"><a href="/RecipeSearcher/{{user.username}}/following" class="nav-link">Following</a></li>
                        </ul>
                        <!-- END profile-header-tab -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- begin profile-content -->
<div class="profile-content">
    <!-- begin tab-content -->
    <div class="tab-content p-0">
        <!-- begin #profile-post tab -->
        <div class="tab-pane fade active show" id="profile-post">
            <!-- begin timeline -->
            {% for post in posts %}
            <div class="col-lg-8 col-md-7">
                <div class="row justify-content-center">
                    <div class="col-lg-6 ">
                        <div class="blog__item">
                            <div>
                                <img src={{post.photo.url}} width="120" height="120" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> {{post.publish}}</li>
                                </ul>
                                <h5><a href="#">{{post.title}}</a></h5>
                                <p>
                                    {{post.body}}
                                </p>
                                <a href={{post.get_absolute_url}} class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- end #profile-post tab -->
    </div>
    <!-- end tab-content -->
</div>
<!-- end profile-content -->
{% endblock %}

{% block domready %}
$('a.follow').click(function(e){
e.preventDefault();
$.post('{% url "RecipeSearcher:user_follow" %}',
{
id: $(this).data('id'),
action: $(this).data('action')
},
function(data){
if (data['status'] == 'ok') {
var previous_action = $('a.follow').data('action');
// toggle data-action
$('a.follow').data('action',
previous_action == 'follow' ? 'unfollow' : 'follow');
// toggle link text
$('a.follow').text(
previous_action == 'follow' ? 'Unfollow' : 'Follow');
// update total followers
var previous_followers = parseInt(
$('span.count .total').text());
$('span.count .total').text(previous_action == 'follow' ?
previous_followers + 1 : previous_followers - 1);
}
}
);
});
{% endblock %}